.card{
    flex: 0 0 calc(25% - 2.5rem);
    margin: 20px;
    border: 2px solid #ededed;
    cursor: pointer;
    border-radius: 5%;
    box-sizing: border-box;
    width: 6rem;
    min-width: 10rem;
    transition: transform 0.3s;
    /* max-width: 14rem; */
}

.card:hover{
    transform: scale(1.1);
    /* box-shadow: 0 0 10px rgba(0,0,0,0.3); */
    box-shadow:0 0.17rem 0.33rem -0.08rem rgba(23,43,77,.16);
 
}

img{
    width: 100%;
    height: 10rem;
    margin-bottom: 2rem;
    border-bottom: 2px solid #ededed;
}
/* .box{
    font-weight: bold;
} */
.price{
    font-weight: bold;
    font-style: italic;
}
.card-title{
    font-size: 1rem;
    margin-left: 0.25rem;
    margin-bottom: 1rem; 
    font-weight: bold;
}

.card-info{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: flex-start;
    margin-bottom: 0.25rem;
}

.box{
    font-size: 0.75rem;
    border-color: black;
    border-radius:4px;
    margin: 0.25rem;
}

@media screen and (max-width: 1250px) {
    
    .card{
        flex: 0 0 calc(33.33% - 2.5rem);
        min-width: 10rem;
        /* max-width: 14rem; */
    }
}
@media screen and (max-width: 1024px){
    
    .card{
        flex: 0 0 calc(45% - 2.5rem);
        min-width: 10rem;
        /* max-width: 14rem; */
    }
}

@media screen and (max-width: 912px){
    
    .card{
        flex: 0 0 calc(45% - 2.5rem);
        min-width: 12rem;
        /* max-width: 14rem; */
    }
}

@media screen and (max-width: 783px){
    
    .card{
        /* flex: 0 0 calc(45% - 2.5rem); */
        flex: 0 0 calc(100%) !important;
        /* min-width: 20rem; */
        /* margin:0px; */
        /* max-width: 14rem; */
    }
}

@media screen and (max-width: 600px){
    
    .card{
        flex: 0 0 calc(45% - 2.5rem);
        min-width: 10rem;
        max-width: 14rem;
    }
}

@media screen and (max-width: 560px){
    .card{
        flex: 0 0 calc(45% - 2.5rem);
        min-width: 20rem;
        /* max-width: 14rem; */
    }
    .with-filter{
        flex: 0 0 calc(80%);
    }
}

@media screen and (max-width: 480px){
    /* .card-container {
        justify-content: flex-start;
        margin-left: 310px;
    } */
    .card{
        margin-left: 4rem;
        flex: 0 0 calc(100%);
        min-width: 10rem;
        max-width: 100rem;
    }
}