.color{
    margin-top: 14px;
    margin-bottom: 15px;
    margin-left: 50px;
}

.ml{
    margin-left: 20px;
}

.sidebar-title{
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 10px;
}

.sidebar-items{
    margin-top:10px;
    /* margin-left:70px; */
}

.sidebar-label-container{
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 5px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: normal;
}

.sidebar-label-container input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark{
    position: absolute;
    top: 0;
    left: 0;
    height: 12px;
    width: 12px;
    background-color: #eee;
    border-radius: 50%;
    margin-left: 10px;
}

.sidebar-label-container:hover input~.checkmark{
    background-color: #ccc;
}

.sidebar-label-container input:checked~.checkmark{
    background-color: #2196f3;
}

.checkmark::after{
    content:"";
    position: absolute;
    display: none;
}

.sidebar-label-container input:checked~.checkmark::after{
    display:block;
}

.sidebar-label-container.checkmark::after{
    top:6.4px;
    left:6.4px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background:white;
}
