.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding:0;
    margin-left: 20rem;
    margin-top: 9rem;
    z-index:-2;
}
.with-filter{
    justify-content: flex-start;
}
@media screen and (max-width: 1250px) {
    .card-container {
        justify-content: flex-start;
     }
} 

@media screen and (max-width: 1025px) {
    .card-container {
        justify-content: flex-start; 
        margin-left: 23rem;
        margin-right: 2rem;
        gap: 2.5rem;
    }
} 

@media screen and (max-width: 912px) {
    .card-container {
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-left: 22rem;
        margin-right: 2rem;
        /* gap: 1.5em; */
    }
}

@media screen and (max-width: 783px) {
        .card-container {
            justify-content: flex-start;
            margin-left: 23rem;
            gap: 1rem;
        }
}
@media screen and (max-width: 600px) {
        .card-container {
            justify-content: flex-start;
            margin-left: 2rem;
            margin-right: 1rem;
            margin-top: 2rem;
            gap: 1.5rem;
       }
}

@media screen and (max-width: 560px){
.card-container {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    margin-left: 1.5rem;
    margin-right: 1rem;
    gap: 0.25rem;
}
.with-filter{
     justify-content: flex-start;
}
}
@media screen and (max-width: 480px){
    .card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        gap: 0.25rem;
    }
    }