.sidebar-title{
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 70px;
    /* margin-top: 50px; */
}

.color-title{
    margin-top: 1.5rem;
    margin-bottom: 15px;
}
.clear{
    margin-top: 10px;
}

.clear-filters-btn{
   margin-left:225px;
   font-size: small;
   border: 1px solid #ededed;
   /* justify-content: flex-end; */
}
.colors{
    display: flex;
    padding-right: 2rem;
}
.sidebar{
    width: 20rem;
    position: fixed;
    height: 100%;
    border-right: 2px solid #e5e5e5;
    /* padding-right: 2rem; */
    padding-left: 5rem;
    z-index: 3;
    display: flex;
    flex-direction: column;
    /* flex-wrap:wrap; */
    align-items: center;
}

.filter{
    margin-top: 0.15rem;
}
.div2{
    
    padding-right: 2rem;
}
@media screen and (max-width: 600px) {
    .sidebar {
        margin-left: 0; 
        margin-top:7rem;
      width: 100%;
      height: auto;
      position: relative;
      border-right: none;
      overflow-y: none;
      max-height: 80vh;
    }
  }
